{% extends 'base.html' %}
{% block content %}
<p style="text-align: center; margin-top: 50px;">
  Выражаю свое согласие на обработку моих общедоступных персональных данных, включающих: фамилию, имя, отчество, место
  работы, должность, и иные сведения, необходимые для исполнения целей по регистрации и обслуживанию.
  В процессе оказания мне услуг удостоверяющим центром я предоставляю право осуществлять все действия (операции) с
  моими общедоступными персональными данными, включая сбор, систематизацию, накопление, хранение, обновление,
  изменение, использование, обезличивание, блокирование, уничтожение.
</p>
<form method="post" style="text-align: center;">
  {% csrf_token %}
  {{ form.as_p }}
  <input type=submit value="Submit" />
</form>
{% endblock %}