{% extends "base.html" %}

{% block title %}Hr intranet{% endblock %}

{% block content %}
	<div class="container-fluid mt-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Главная</a></li>
				<li class="breadcrumb-item">
					<a href="{% url 'knowledge-category-list' %}">Knowledge base</a>
				</li>
                {% if question.category.parent %}
                    <li class="breadcrumb-item">
                        <a href="{{ question.category.parent.get_absolute_url }}">{{ question.category.parent.title }}</a>
                    </li>
                {% endif %}
                <li class="breadcrumb-item">
					<a href="{{ question.category.get_absolute_url }}">{{ question.category.title }}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ question.title }}</li>
			</ol>
		</nav>

        <h3 class="mb-3">
            {{ question.title }}
        </h3>
        <p class="blog-post-meta">{{ question.created_at }}
            by <a href="/about">{{ question.user }}</a> (<span > 20 views</span>)</p>
        <div class="mt-5 mb-5">
            {{ question.description|safe }}
        </div>
	</div>
{% endblock %}